.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
    border-bottom: 1px solide #ccc;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}
.navbar a {
    font-size: 20px;
    transition: transform 0.2s;
}

.navbar a:hover{
    color: cadetblue;
    transform: scale(1.2);
}
body {
    margin-top: 50px;
    background-color: seashell;
}

